(
    id: "armor_shop",
    kind: Modal,
    keys: {
        "Escape": [
            "CloseWindow()",
        ],
    },
    on_load: [
        "PlaySoundNamed(\"Enter\")",
    ],
    on_close: [
        "PlaySoundNamed(\"WoodDRClose\")",
    ],
    elements: [
        Image((
            id: "icons/BUTTESC1",
            position: (527.0, 308.0),
            size: (61.0, 28.0),
            z: 14,
            states: {
                "clicked": (
                    texture: "icons/BUTTESC2",
                ),
                "default": (
                    texture: "icons/BUTTESC1",
                ),
            },
            on_click: [
                "CloseWindow()",
            ],
            on_hover: [
                "evt:Hint(\"End conversation\")",
            ],
            bindings: {},
            transparent_color: "cyan",
        )),
        Text((
            id: "shop_name",
            position: (481.0, 4.0),
            size: (152.0, 12.0),
            z: 14,
            source: "house.name",
            on_click: [
                "PlaySoundNamed(\"Pending\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/ARMORY",
            position: (8.0, 8.0),
            size: (460.0, 344.0),
            z: 15,
            states: {
                "default": (
                    texture: "icons/ARMORY",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Video((
            id: "vid_ArmMid",
            position: (8.0, 8.0),
            size: (460.0, 344.0),
            z: 16,
            video: "ArmMid",
            looping: true,
        )),
        Image((
            id: "icons/EVPAN008",
            position: (481.0, 0.0),
            size: (152.0, 353.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/EVPAN008",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/NPC",
            position: (526.0, 17.0),
            size: (63.0, 73.0),
            z: 14,
            states: {
                "default": (
                    texture: "icons/NPC177",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "armorer_name",
            position: (481.0, 93.0),
            size: (152.0, 12.0),
            z: 17,
            source: "house.owner",
            font: "smallnum",
            font_size: 18.0,
            color: "blue",
            align: "center",
        )),
        Text((
            id: "buy",
            position: (481.0, 140.0),
            size: (152.0, 12.0),
            z: 27,
            source: "",
            value: "Buy",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            hover_color: Some("yellow"),
            align: "center",
        )),
        Text((
            id: "sell",
            position: (481.0, 180.0),
            size: (152.0, 12.0),
            z: 19,
            source: "",
            value: "Sell",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            hover_color: Some("yellow"),
            align: "center",
        )),
        Text((
            id: "identify",
            position: (481.0, 220.0),
            size: (152.0, 12.0),
            z: 20,
            source: "",
            value: "Identify",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            hover_color: Some("yellow"),
            align: "center",
        )),
        Text((
            id: "special",
            position: (481.0, 260.0),
            size: (152.0, 12.0),
            z: 21,
            source: "",
            value: "Special",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            hover_color: Some("yellow"),
            align: "center",
        )),
    ],
)