(
    id: "ingame",
    elements: [
        Image((
            id: "BORDER4",
            position: (-0.0, 8.0),
            size: (8.0, 344.0),
            z: 0,
            states: {
                "default": (
                    texture: "BORDER4",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "BORDER5",
            position: (8.0, 8.0),
            size: (8.0, 20.0),
            z: 0,
            states: {
                "default": (
                    texture: "BORDER5",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "black",
        )),
        Image((
            id: "BORDER6",
            position: (461.0, 8.0),
            size: (7.0, 21.0),
            z: -93,
            states: {
                "default": (
                    texture: "BORDER6",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "black",
        )),
        Image((
            id: "BORDER3",
            position: (0.0, 0.0),
            size: (468.0, 8.0),
            z: 0,
            states: {
                "default": (
                    texture: "BORDER3",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "FOOTER",
            position: (0.0, 352.0),
            size: (483.0, 24.0),
            z: 0,
            states: {
                "default": (
                    texture: "FOOTER",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/BUTTCAMP",
            position: (525.0, 399.0),
            size: (29.0, 61.0),
            z: 3,
            states: {
                "clicked": (
                    texture: "icons/BUTTCAMP",
                ),
                "default": (
                    texture: "",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"Rest\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/Border2.pcx",
            position: (0.0, 371.0),
            size: (469.0, 109.0),
            z: -2,
            states: {
                "default": (
                    texture: "icons/Border2.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/Border1.pcx",
            position: (468.0, 141.0),
            size: (172.0, 339.0),
            z: 1,
            states: {
                "default": (
                    texture: "icons/Border1.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/BUTTMENU",
            position: (594.0, 399.0),
            size: (29.0, 61.0),
            z: 7,
            states: {
                "clicked": (
                    texture: "icons/BUTTMENU",
                ),
                "default": (
                    texture: "",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"Save\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/BUTTCAST",
            position: (491.0, 399.0),
            size: (29.0, 61.0),
            z: 21,
            states: {
                "clicked": (
                    texture: "icons/BUTTCAST",
                ),
                "default": (
                    texture: "",
                ),
            },
            on_click: [
                "ShowScreen(\"spells\")",
            ],
            on_hover: [
                "evt:Hint(\"Cast a Spell\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/TAP1",
            position: (468.0, 0.0),
            size: (172.0, 142.0),
            z: 3,
            states: {
                "default": (
                    texture: "icons/TAP1",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "source": "tap",
            },
            transparent_color: "lime",
        )),
        Text((
            id: "footer",
            position: (0.0, 357.0),
            size: (483.0, 12.0),
            z: 5,
            source: "footer_text",
            font: "smallnum",
            color: "white",
            align: "center",
        )),
        Text((
            id: "food",
            position: (511.0, 357.0),
            size: (35.0, 12.0),
            z: 7,
            source: "food",
            font: "smallnum",
            color: "yellow",
            align: "right",
        )),
        Text((
            id: "gold",
            position: (551.0, 357.0),
            size: (60.0, 12.0),
            z: 7,
            source: "gold",
            font: "smallnum",
            color: "yellow",
            align: "right",
        )),
        Image((
            id: "icons/DEAD",
            position: (135.0, 383.0),
            size: (59.0, 79.0),
            z: 11,
            states: {
                "default": (
                    texture: "icons/DEAD",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/DEAD",
            position: (248.0, 383.0),
            size: (59.0, 79.0),
            z: 12,
            states: {
                "default": (
                    texture: "icons/DEAD",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/DEAD",
            position: (360.0, 383.0),
            size: (59.0, 79.0),
            z: 13,
            states: {
                "default": (
                    texture: "icons/DEAD",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/BUTTREF",
            position: (560.0, 399.0),
            size: (28.0, 62.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/BUTTREF",
                ),
                "default": (
                    texture: "",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"Ref\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/CCMALEA",
            position: (22.0, 383.0),
            size: (59.0, 79.0),
            z: 2,
            states: {
                "default": (
                    texture: "icons/CCMALEA",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/FACEMASK",
            position: (20.0, 381.0),
            size: (63.0, 83.0),
            z: 20,
            states: {
                "default": (
                    texture: "icons/FACEMASK",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
        Image((
            id: "icons/MANAFULLA",
            position: (102.0, 383.0),
            size: (6.0, 78.0),
            z: 22,
            states: {
                "default": (
                    texture: "icons/MANAFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/HITSFULLA",
            position: (93.0, 383.0),
            size: (6.0, 78.0),
            z: 18,
            states: {
                "default": (
                    texture: "icons/HITSFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/HITSFULLB",
            position: (206.0, 383.0),
            size: (6.0, 78.0),
            z: 18,
            states: {
                "default": (
                    texture: "icons/HITSFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MANAFULLB",
            position: (215.0, 383.0),
            size: (6.0, 78.0),
            z: 22,
            states: {
                "default": (
                    texture: "icons/MANAFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/HITSFULLC",
            position: (319.0, 383.0),
            size: (6.0, 78.0),
            z: 18,
            states: {
                "default": (
                    texture: "icons/HITSFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MANAFULLC",
            position: (328.0, 383.0),
            size: (6.0, 78.0),
            z: 22,
            states: {
                "default": (
                    texture: "icons/MANAFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/HITSFULLD",
            position: (431.0, 383.0),
            size: (6.0, 78.0),
            z: 18,
            states: {
                "default": (
                    texture: "icons/HITSFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MANAFULLD",
            position: (440.0, 383.0),
            size: (6.0, 78.0),
            z: 22,
            states: {
                "default": (
                    texture: "icons/MANAFULL",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
    ],
    editor: (
        locked: [
            "BORDER6",
            "FOOTER",
            "icons/Border2.pcx",
            "BORDER3",
            "footer",
            "BORDER4",
            "icons/BUTTREF",
            "icons/TAP1",
            "gold",
            "food",
        ],
    ),
)