(
    locked: [
        "icons/Border2.pcx",
        "icons/BUTTCAST",
        "icons/TAP1",
        "BUTTCAMP",
        "BORDER6",
        "BORDER5",
        "BORDER4",
        "BORDER3",
        "FOOTER",
        "icons/BUTTMENU",
        "BUTTBK1",
    ],
)