(
    id: "ingame_menu_rest",
    kind: Modal,
    elements: [
        Image((
            id: "icons/restmain",
            position: (8.0, 8.0),
            size: (460.0, 344.0),
            z: 1,
            states: {
                "default": (
                    texture: "icons/restmain",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/restb4",
            position: (26.0, 160.0),
            size: (225.0, 36.0),
            z: 2,
            states: {
                "default": (
                    texture: "icons/restb4",
                ),
            },
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "icons/restb1",
            position: (63.0, 242.0),
            size: (154.0, 27.0),
            z: 3,
            states: {
                "default": (
                    texture: "icons/restb1",
                ),
            },
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "icons/restb2",
            position: (63.0, 274.0),
            size: (154.0, 27.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/restb2",
                ),
            },
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "icons/restb3",
            position: (63.0, 306.0),
            size: (154.0, 27.0),
            z: 5,
            states: {
                "default": (
                    texture: "icons/restb3",
                ),
            },
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "icons/restexit",
            position: (282.0, 307.0),
            size: (154.0, 37.0),
            z: 6,
            states: {
                "default": (
                    texture: "icons/restexit",
                ),
            },
            on_click: [
                "PlaySoundNamed(\"clickout\")",
                "CloseModal()",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickout",
        )),
        Image((
            id: "icons/TERRA000",
            position: (16.0, 26.0),
            size: (444.0, 108.0),
            z: 7,
            states: {
                "default": (
                    texture: "icons/TERRA000",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/TERRA%03d",
                frames: 240,
                start_frame: 1,
                fps: 10.0,
                ping_pong: false,
            )),
        )),
        Text((
            id: "exit_rest",
            position: (282.0, 308.0),
            size: (154.0, 35.0),
            z: 8,
            source: "",
            value: "Exit Rest",
            on_click: [
                "PlaySoundNamed(\"clickout\")",
                "CloseModal()",
            ],
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_wait_without_healing",
            position: (48.0, 211.0),
            size: (185.0, 20.0),
            z: 9,
            source: "",
            value: "Wait without healing",
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_food_cost",
            position: (221.0, 169.0),
            size: (20.0, 20.0),
            z: 10,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_rest_and_heal",
            position: (28.0, 169.0),
            size: (170.0, 20.0),
            z: 9,
            source: "",
            value: "Rest & Heal 8 Hours",
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_wait_until_dawn",
            position: (63.0, 242.0),
            size: (154.0, 27.0),
            z: 11,
            source: "",
            value: "Wait until Dawn",
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_wait_1h",
            position: (63.0, 275.0),
            size: (154.0, 27.0),
            z: 11,
            source: "",
            value: "Wait 1 Hour",
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_wait_5m",
            position: (63.0, 306.0),
            size: (154.0, 27.0),
            z: 11,
            source: "",
            value: "Wait 5 Minutes",
            on_click: [
                "PlaySoundNamed(\"clickin\")",
            ],
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/HGLAS005",
            position: (272.0, 164.0),
            size: (80.0, 116.0),
            z: 13,
            states: {
                "default": (
                    texture: "icons/HGLAS005",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/HGLAS%03d",
                frames: 120,
                start_frame: 0,
                fps: 10.0,
                ping_pong: false,
            )),
        )),
        Text((
            id: "rest_hour_ampm",
            position: (353.0, 164.0),
            size: (95.0, 28.0),
            z: 14,
            source: "time.hour_ampm",
            value: "",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "rest_day",
            position: (353.0, 194.0),
            size: (50.0, 28.0),
            z: 14,
            source: "",
            value: "Day",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "rest_month",
            position: (353.0, 223.0),
            size: (50.0, 28.0),
            z: 14,
            source: "",
            value: "Month",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "rest_year",
            position: (353.0, 252.0),
            size: (50.0, 28.0),
            z: 14,
            source: "",
            value: "Year",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "rest_year_value",
            position: (404.0, 252.0),
            size: (40.0, 28.0),
            z: 14,
            source: "time.year",
            value: "",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "right",
        )),
        Text((
            id: "rest_month_value",
            position: (404.0, 223.0),
            size: (40.0, 28.0),
            z: 14,
            source: "time.month",
            value: "",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "right",
        )),
        Text((
            id: "rest_day_value",
            position: (404.0, 194.0),
            size: (40.0, 28.0),
            z: 14,
            source: "time.day",
            value: "",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "right",
        )),
    ],
    keys: {
        "Escape": ["CloseModal()"],
    },
    editor: (
        locked: [
            "icons/restmain",
            "icons/restexit",
            "icons/restb4",
            "icons/restb1",
            "icons/restb2",
            "icons/restb3",
        ],
    ),
)