(
    id: "loading",
    elements: [
        Image((
            id: "loading_bg",
            position: (0.0, 0.0),
            size: (640.0, 480.0),
            z: 1,
            states: {
                "default": (
                    texture: "icons/loading.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "womover",
            position: (122.0, 151.0),
            size: (93.0, 59.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/womover.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "frame": "1",
                "source": "loading",
            },
            hidden: true,
        )),
        Image((
            id: "womover2",
            position: (122.0, 151.0),
            size: (93.0, 59.0),
            z: 5,
            states: {
                "default": (
                    texture: "icons/womover2.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "frame": "2",
                "source": "loading",
            },
            hidden: true,
        )),
        Image((
            id: "smokover",
            position: (200.0, 170.0),
            size: (263.0, 23.0),
            z: 6,
            states: {
                "default": (
                    texture: "icons/Smokover.PCX",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "frame": "3",
                "source": "loading",
            },
            hidden: true,
        )),
        Image((
            id: "demover",
            position: (449.0, 56.0),
            size: (123.0, 171.0),
            z: 2,
            states: {
                "default": (
                    texture: "icons/demover.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "frame": "4",
                "source": "loading",
            },
            hidden: true,
        )),
        Image((
            id: "demover2",
            position: (449.0, 56.0),
            size: (123.0, 171.0),
            z: 3,
            states: {
                "default": (
                    texture: "icons/demover2.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "frame": "5",
                "source": "loading",
            },
            hidden: true,
        )),
        Text((
            id: "loading_text",
            position: (0.0, 460.0),
            size: (640.0, 12.0),
            z: 10,
            source: "loading.step",
            font: "smallnum",
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/fireball",
            position: (187.0, 170.0),
            size: (29.0, 16.0),
            z: 11,
            states: {
                "default": (
                    texture: "icons/fireball",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
    ],
    editor: (
        locked: [
            "womover",
        ],
    ),
)