(
    id: "makeme",
    keys: {
        "Escape": [
            "LoadScreen(\"menu\")",
        ],
    },
    elements: [
        Image((
            id: "icons/BUTTMAKE",
            position: (510.0, 438.0),
            size: (64.0, 30.0),
            z: 2,
            states: {
                "clicked": (
                    texture: "icons/BUTTMAKE",
                ),
            },
            on_click: [
                "NewGame(\"something\")",
            ],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MAKETOP",
            position: (0.0, 0.0),
            size: (640.0, 23.0),
            z: 6,
            states: {
                "default": (
                    texture: "icons/MAKETOP",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "lime",
        )),
        Image((
            id: "icons/MAKESKY",
            position: (0.0, 2.0),
            size: (640.0, 21.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/MAKESKY",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "source": "sky_scroll",
            },
        )),
        Image((
            id: "icons/FL01",
            position: (5.0, 379.0),
            size: (33.0, 79.0),
            z: 7,
            states: {
                "default": (
                    texture: "icons/FL1",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/FL%01d",
                frames: 30,
                start_frame: 1,
                fps: 10.0,
                ping_pong: false,
            )),
        )),
        Image((
            id: "icons/FR1",
            position: (600.0, 379.0),
            size: (40.0, 80.0),
            z: 6,
            states: {
                "default": (
                    texture: "icons/FR1",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/FR%01d",
                frames: 30,
                start_frame: 1,
                fps: 10.0,
                ping_pong: false,
            )),
        )),
        Image((
            id: "icons/Makeme.pcx",
            position: (0.0, 23.0),
            size: (640.0, 457.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/Makeme.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "title",
            position: (169.0, 4.0),
            size: (302.0, 16.0),
            z: 8,
            source: "",
            value: "Create Party",
            font: "comic",
            font_size: 20.0,
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/presrigh0",
            position: (124.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [
                "CyclePortrait(\"member0\", 1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presleft0",
            position: (92.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [
                "CyclePortrait(\"member0\", -1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "member0.portrait",
            position: (16.0, 37.0),
            size: (59.0, 79.0),
            z: 12,
            states: {
                "default": (
                    texture: "${member0.portrait}",
                ),
            },
            on_click: [
                "SelectMember(\"member0\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Text((
            id: "member0.name",
            position: (16.0, 126.0),
            size: (132.0, 16.0),
            z: 13,
            source: "",
            value: "${member0.name}",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "member0.class",
            position: (84.0, 103.0),
            size: (65.0, 14.0),
            z: 14,
            source: "",
            value: "${member0.class}",
            font: "create",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Image((
            id: "member0.class_icon",
            position: (101.0, 53.0),
            size: (36.0, 46.0),
            z: 15,
            states: {
                "default": (
                    texture: "${member0.class_icon}",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
        Text((
            id: "bonus_pts",
            position: (498.0, 398.0),
            size: (89.0, 12.0),
            z: 16,
            source: "",
            value: "Bonus  Pts",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "bounus_pts_value",
            position: (498.0, 412.0),
            size: (89.0, 12.0),
            z: 16,
            source: "",
            value: "52",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "available_skills",
            position: (239.0, 398.0),
            size: (234.0, 12.0),
            z: 16,
            source: "",
            value: "Available Skills",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "class",
            position: (38.0, 398.0),
            size: (191.0, 12.0),
            z: 16,
            source: "",
            value: "CLASS",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "might_0",
            position: (49.0, 154.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Might",
            on_click: [
                "SelectStat(\"might\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_might}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "intellect_0",
            position: (49.0, 171.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Intellect",
            on_click: [
                "SelectStat(\"intellect\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_intellect}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "personality_0",
            position: (49.0, 188.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Personality",
            on_click: [
                "SelectStat(\"personality\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_personality}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "speed_0",
            position: (49.0, 239.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Speed",
            on_click: [
                "SelectStat(\"speed\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_speed}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "endurance_0",
            position: (49.0, 205.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Endurance",
            on_click: [
                "SelectStat(\"endurance\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_endurance}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "accuracy_0",
            position: (49.0, 222.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Accuracy",
            on_click: [
                "SelectStat(\"accuracy\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_accuracy}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "luck_0",
            position: (49.0, 256.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Luck",
            on_click: [
                "SelectStat(\"luck\")",
            ],
            font: "smallnum",
            font_size: 14.0,
            color: "${active.stat_color_luck}",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "might_0_value",
            position: (115.0, 154.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.might}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_might}",
            align: "left",
        )),
        Text((
            id: "intellect_0_value",
            position: (115.0, 171.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.intellect}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_intellect}",
            align: "left",
        )),
        Text((
            id: "skills",
            position: (8.0, 288.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "SKILLS",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "skill_0_0",
            position: (8.0, 307.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "skill_0_1",
            position: (8.0, 323.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "skill_0_2",
            position: (8.0, 339.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "skill_0_3",
            position: (8.0, 355.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Image((
            id: "icons/ARROWR0",
            position: (135.0, 154.0),
            size: (20.0, 16.0),
            z: 21,
            states: {
                "default": (
                    texture: "icons/ARROWR10",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/ARROWR%d",
                frames: 19,
                start_frame: 1,
                fps: 20.0,
                ping_pong: false,
            )),
            transparent_color: "black",
        )),
        Text((
            id: "personality_0_value",
            position: (115.0, 188.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.personality}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_personality}",
            align: "left",
        )),
        Image((
            id: "icons/ARROWL0",
            position: (11.0, 154.0),
            size: (20.0, 16.0),
            z: 21,
            states: {
                "default": (
                    texture: "icons/ARROWL10",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/ARROWL%d",
                frames: 19,
                start_frame: 1,
                fps: 20.0,
                ping_pong: false,
            )),
            transparent_color: "black",
        )),
        Text((
            id: "knight",
            position: (38.0, 417.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Knight",
            on_click: [
                "SelectClass(\"Knight\")",
            ],
            font: "create",
            font_size: 16.0,
            color: "${active.class_color_knight}",
            align: "center",
        )),
        Text((
            id: "paladin",
            position: (134.0, 417.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Paladin",
            on_click: [
                "SelectClass(\"Paladin\")",
            ],
            font: "create",
            font_size: 16.0,
            color: "${active.class_color_paladin}",
            align: "center",
        )),
        Text((
            id: "sorcerer",
            position: (38.0, 450.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Sorcerer",
            on_click: [
                "SelectClass(\"Sorcerer\")",
            ],
            font: "create",
            font_size: 16.0,
            color: "${active.class_color_sorcerer}",
            align: "center",
        )),
        Text((
            id: "cleric",
            position: (134.0, 434.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Cleric",
            on_click: [
                "SelectClass(\"Cleric\")",
            ],
            font: "create",
            font_size: 16.0,
            color: "${active.class_color_cleric}",
            align: "center",
        )),
        Text((
            id: "archer",
            position: (38.0, 434.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Archer",
            on_click: [
                "SelectClass(\"Archer\")",
            ],
            font: "create",
            font_size: 16.0,
            color: "${active.class_color_archer}",
            align: "center",
        )),
        Text((
            id: "druid",
            position: (134.0, 450.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Druid",
            on_click: [
                "SelectClass(\"Druid\")",
            ],
            font: "create",
            font_size: 16.0,
            color: "${active.class_color_druid}",
            align: "center",
        )),
        Image((
            id: "icons/presleft1",
            position: (251.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [
                "CyclePortrait(\"member1\", -1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presleft2",
            position: (409.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [
                "CyclePortrait(\"member2\", -1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presleft3",
            position: (568.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [
                "CyclePortrait(\"member3\", -1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presrigh1",
            position: (283.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [
                "CyclePortrait(\"member1\", 1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presrigh2",
            position: (441.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [
                "CyclePortrait(\"member2\", 1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presrigh3",
            position: (600.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [
                "CyclePortrait(\"member3\", 1)",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Text((
            id: "endurance_0_value",
            position: (115.0, 205.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.endurance}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_endurance}",
            align: "left",
        )),
        Text((
            id: "accuracy_0_value",
            position: (115.0, 222.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.accuracy}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_accuracy}",
            align: "left",
        )),
        Text((
            id: "speed_0_value",
            position: (115.0, 239.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.speed}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_speed}",
            align: "left",
        )),
        Text((
            id: "luck_0_value",
            position: (115.0, 256.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "${active.luck}",
            font: "smallnum",
            font_size: 14.0,
            color: "${active.val_color_luck}",
            align: "left",
        )),
        Image((
            id: "member1.portrait",
            position: (175.0, 36.0),
            size: (59.0, 79.0),
            z: 12,
            states: {
                "default": (
                    texture: "${member1.portrait}",
                ),
            },
            on_click: [
                "SelectMember(\"member1\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "member2.portrait",
            position: (335.0, 36.0),
            size: (59.0, 79.0),
            z: 12,
            states: {
                "default": (
                    texture: "${member2.portrait}",
                ),
            },
            on_click: [
                "SelectMember(\"member2\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "member3.portrait",
            position: (494.0, 35.0),
            size: (59.0, 79.0),
            z: 12,
            states: {
                "default": (
                    texture: "${member3.portrait}",
                ),
            },
            on_click: [
                "SelectMember(\"member3\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Text((
            id: "member1.class",
            position: (242.0, 103.0),
            size: (65.0, 14.0),
            z: 14,
            source: "",
            value: "${member1.class}",
            font: "create",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "member2.class",
            position: (400.0, 103.0),
            size: (65.0, 14.0),
            z: 14,
            source: "",
            value: "${member2.class}",
            font: "create",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "member3.class",
            position: (559.0, 103.0),
            size: (65.0, 14.0),
            z: 14,
            source: "",
            value: "${member3.class}",
            font: "create",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Image((
            id: "member1.class_icon",
            position: (258.0, 53.0),
            size: (36.0, 46.0),
            z: 15,
            states: {
                "default": (
                    texture: "${member1.class_icon}",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
        Image((
            id: "member2.class_icon",
            position: (419.0, 53.0),
            size: (36.0, 46.0),
            z: 15,
            states: {
                "default": (
                    texture: "${member2.class_icon}",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
        Image((
            id: "member3.class_icon",
            position: (577.0, 53.0),
            size: (36.0, 46.0),
            z: 15,
            states: {
                "default": (
                    texture: "${member3.class_icon}",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
        Text((
            id: "member1.name",
            position: (174.0, 126.0),
            size: (132.0, 16.0),
            z: 13,
            source: "",
            value: "${member1.name}",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "member2.name",
            position: (332.0, 126.0),
            size: (132.0, 16.0),
            z: 13,
            source: "",
            value: "${member2.name}",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "member3.name",
            position: (490.0, 126.0),
            size: (132.0, 16.0),
            z: 13,
            source: "",
            value: "${member3.name}",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Image((
            id: "icons/MAKEPLUS",
            position: (582.0, 395.0),
            size: (20.0, 32.0),
            z: 22,
            states: {
                "default": (
                    texture: "icons/MAKEPLUS",
                ),
            },
            on_click: [
                "IncrementStat()",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "icons/MAKEMINU",
            position: (483.0, 395.0),
            size: (20.0, 32.0),
            z: 23,
            states: {
                "default": (
                    texture: "icons/MAKEMINU",
                ),
            },
            on_click: [
                "DecrementStat()",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
    ],
    editor: (
        locked: [
            "icons/FL01",
            "icons/BUTTMAKE",
            "icons/Makeme.pcx",
            "bounus_pts_value",
            "bonus_pts",
            "available_skills",
            "class",
            "icons/presrigh3",
            "icons/presleft3",
            "icons/presrigh2",
            "icons/presleft2",
            "icons/presrigh1",
            "icons/presleft1",
            "member2.class",
            "member3.class",
            "member1.class",
            "member0.class",
            "member1.portrait",
            "member2.portrait",
            "member0.portrait",
            "icons/presleft0",
            "icons/presrigh0",
            "member0.class_icon",
            "member1.class_icon",
            "member2.class_icon",
            "member3.class_icon",
            "member1.name",
            "member0.name",
        ],
    ),
)