(
    id: "makeme",
    keys: {
        "Escape": [
            "LoadScreen(\"menu\")",
        ],
    },
    elements: [
        Image((
            id: "icons/BUTTMAKE",
            position: (510.0, 438.0),
            size: (64.0, 30.0),
            z: 2,
            states: {
                "clicked": (
                    texture: "icons/BUTTMAKE",
                ),
            },
            on_click: [
                "NewGame(\"something\")",
            ],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MAKETOP",
            position: (0.0, 0.0),
            size: (640.0, 23.0),
            z: 6,
            states: {
                "default": (
                    texture: "icons/MAKETOP",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "lime",
        )),
        Image((
            id: "icons/MAKESKY",
            position: (0.0, 2.0),
            size: (640.0, 21.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/MAKESKY",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "source": "sky_scroll",
            },
        )),
        Image((
            id: "icons/FL01",
            position: (5.0, 379.0),
            size: (33.0, 79.0),
            z: 7,
            states: {
                "default": (
                    texture: "icons/FL1",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/FL%01d",
                frames: 30,
                start_frame: 1,
                fps: 10.0,
                ping_pong: false,
            )),
        )),
        Image((
            id: "icons/FR1",
            position: (600.0, 379.0),
            size: (40.0, 80.0),
            z: 6,
            states: {
                "default": (
                    texture: "icons/FR1",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/FR%01d",
                frames: 30,
                start_frame: 1,
                fps: 10.0,
                ping_pong: false,
            )),
        )),
        Image((
            id: "icons/Makeme.pcx",
            position: (0.0, 23.0),
            size: (640.0, 457.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/Makeme.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "title",
            position: (169.0, 4.0),
            size: (302.0, 16.0),
            z: 8,
            source: "",
            value: "Create Party",
            font: "comic",
            font_size: 20.0,
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/presrigh",
            position: (124.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presleft",
            position: (92.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "pmember_0",
            position: (16.0, 37.0),
            size: (59.0, 79.0),
            z: 12,
            states: {
                "default": (
                    texture: "icons/CCMALEA",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "pmember_0_name",
            position: (16.0, 126.0),
            size: (132.0, 16.0),
            z: 13,
            source: "",
            value: "Roderick",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "pmember_0_class",
            position: (84.0, 103.0),
            size: (65.0, 14.0),
            z: 14,
            source: "",
            value: "Paladin",
            font: "create",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Image((
            id: "pmember_0_class_img",
            position: (101.0, 53.0),
            size: (36.0, 46.0),
            z: 15,
            states: {
                "default": (
                    texture: "icons/IC_PALAD",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            transparent_color: "cyan",
        )),
        Text((
            id: "bonus_pts",
            position: (498.0, 398.0),
            size: (89.0, 12.0),
            z: 16,
            source: "",
            value: "Bonus  Pts",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "bounus_pts_value",
            position: (498.0, 412.0),
            size: (89.0, 12.0),
            z: 16,
            source: "",
            value: "52",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "available_skills",
            position: (239.0, 398.0),
            size: (234.0, 12.0),
            z: 16,
            source: "",
            value: "Available Skills",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "class",
            position: (38.0, 398.0),
            size: (191.0, 12.0),
            z: 16,
            source: "",
            value: "CLASS",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "might_0",
            position: (49.0, 154.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Might",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "intellect_0",
            position: (49.0, 171.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Intellect",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "personality_0",
            position: (49.0, 188.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Personality",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "speed_0",
            position: (49.0, 239.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Speed",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "endurance_0",
            position: (49.0, 205.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Endurance",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "accuracy_0",
            position: (49.0, 222.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Accuracy",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "luck_0",
            position: (49.0, 256.0),
            size: (60.0, 16.0),
            z: 17,
            source: "",
            value: "Luck",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            hover_color: Some("green"),
            align: "left",
        )),
        Text((
            id: "might_0_value",
            position: (115.0, 154.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "intellect_0_value",
            position: (115.0, 171.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "skills",
            position: (8.0, 288.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "SKILLS",
            font: "create",
            font_size: 16.0,
            color: "gold",
            align: "center",
        )),
        Text((
            id: "skill_0_0",
            position: (8.0, 307.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "skill_0_1",
            position: (8.0, 323.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "skill_0_2",
            position: (8.0, 339.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "skill_0_3",
            position: (8.0, 355.0),
            size: (150.0, 14.0),
            z: 16,
            source: "",
            value: "None",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Image((
            id: "icons/ARROWL1",
            position: (135.0, 154.0),
            size: (20.0, 16.0),
            z: 21,
            states: {
                "default": (
                    texture: "icons/ARROWR10",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/ARROWR%d",
                frames: 19,
                start_frame: 1,
                fps: 20.0,
                ping_pong: false,
            )),
            transparent_color: "black",
        )),
        Text((
            id: "personality_0_value",
            position: (115.0, 188.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Image((
            id: "icons/ARROWL1_copy",
            position: (11.0, 154.0),
            size: (20.0, 16.0),
            z: 21,
            states: {
                "default": (
                    texture: "icons/ARROWL10",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            animation: Some((
                pattern: "icons/ARROWL%d",
                frames: 19,
                start_frame: 1,
                fps: 20.0,
                ping_pong: false,
            )),
            transparent_color: "black",
        )),
        Text((
            id: "knight",
            position: (38.0, 417.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Knight",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "paladin",
            position: (134.0, 417.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Paladin",
            font: "create",
            font_size: 16.0,
            color: "cyan",
            align: "center",
        )),
        Text((
            id: "sorcerer",
            position: (38.0, 450.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Sorcerer",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "cleric",
            position: (134.0, 434.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Cleric",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "archer",
            position: (38.0, 434.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Archer",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "druid",
            position: (134.0, 450.0),
            size: (95.0, 12.0),
            z: 16,
            source: "",
            value: "Druid",
            font: "create",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/presleft_copy",
            position: (251.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presleft_copy_1",
            position: (409.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presleft_copy_2",
            position: (568.0, 33.0),
            size: (20.0, 11.0),
            z: 10,
            states: {
                "clicked": (
                    texture: "icons/presleft",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presrigh_copy",
            position: (283.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presrigh_copy_1",
            position: (441.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Image((
            id: "icons/presrigh_copy_2",
            position: (600.0, 33.0),
            size: (20.0, 11.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/presrigh",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickstart",
        )),
        Text((
            id: "endurance_0_value",
            position: (115.0, 205.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "accuracy_0_value",
            position: (115.0, 222.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "speed_0_value",
            position: (115.0, 239.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "luck_0_value",
            position: (115.0, 256.0),
            size: (16.0, 16.0),
            z: 17,
            source: "",
            value: "0",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "left",
        )),
    ],
    editor: (
        locked: [
            "icons/FL01",
            "icons/BUTTMAKE",
            "icons/Makeme.pcx",
            "bounus_pts_value",
            "bonus_pts",
            "available_skills",
            "class",
        ],
    ),
)