(
    id: "menu_load",
    keys: {
        "Escape": [
            "LoadScreen(\"menu\")",
        ],
    },
    elements: [
        Image((
            id: "icons/LSAVE640.PCX",
            position: (0.0, 0.0),
            size: (640.0, 480.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/LSAVE640.PCX",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/check_p",
            position: (357.0, 365.0),
            size: (64.0, 32.0),
            z: 6,
            states: {
                "clicked": (
                    texture: "icons/check_p",
                ),
            },
            on_click: [
                "LoadGame(\"a\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickin",
        )),
        Image((
            id: "icons/sarr1_pr",
            position: (298.0, 254.0),
            size: (16.0, 16.0),
            z: 5,
            states: {
                "clicked": (
                    texture: "icons/sarr1_pr",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickout",
        )),
        Image((
            id: "icons/sarr2_pr",
            position: (298.0, 383.0),
            size: (16.0, 16.0),
            z: 6,
            states: {
                "clicked": (
                    texture: "icons/sarr2_pr",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            click_sound: "clickout",
        )),
        Image((
            id: "icons/x_d",
            position: (457.0, 365.0),
            size: (64.0, 32.0),
            z: 9,
            states: {
                "clicked": (
                    texture: "icons/x_d",
                ),
            },
            on_click: [
                "LoadScreen(\"menu\")",
            ],
            on_hover: [],
            bindings: {},
            click_sound: "clickout",
        )),
        Text((
            id: "savefile_0",
            position: (107.0, 317.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Image((
            id: "new/image.pcx",
            position: (365.0, 220.0),
            size: (150.0, 112.0),
            z: 12,
            states: {
                "default": (
                    texture: "new/image.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "savefile_1",
            position: (107.0, 257.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "savefile_2",
            position: (107.0, 277.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "savefile_3",
            position: (107.0, 297.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "savefile_4",
            position: (107.0, 337.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "savefile_5",
            position: (107.0, 357.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "savefile_6",
            position: (107.0, 377.0),
            size: (185.0, 19.0),
            z: 10,
            source: "",
            value: "Autosave",
            font: "smallnum",
            font_size: 18.0,
            color: "white",
            align: "left",
        )),
        Text((
            id: "save_area",
            position: (363.0, 201.0),
            size: (154.0, 14.0),
            z: 13,
            source: "",
            value: "New Sorpigal",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
        Text((
            id: "game_time",
            position: (363.0, 336.0),
            size: (154.0, 21.0),
            z: 13,
            source: "",
            value: "Monday 9:00 AM \n1 January 1165",
            font: "smallnum",
            font_size: 16.0,
            color: "white",
            align: "center",
        )),
    ],
    editor: (
        locked: [
            "icons/check_p",
            "icons/x_d",
            "game_time",
            "new/image.pcx",
            "savefile_0",
            "savefile_1",
            "savefile_2",
            "savefile_3",
            "savefile_4",
            "savefile_5",
            "savefile_6",
            "icons/sarr1_pr",
            "icons/sarr2_pr",
            "save_area",
        ],
    ),
)