(
    id: "menu_load",
    elements: [
        Image((
            id: "icons/LSAVE640.PCX",
            position: (0.0, 0.0),
            size: (640.0, 480.0),
            z: 1,
            states: {
                "default": (
                    texture: "icons/LSAVE640.PCX",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/load_up",
            position: (100.0, 201.0),
            size: (218.0, 40.0),
            z: 3,
            states: {
                "clicked": (
                    texture: "icons/load_up",
                ),
                "hover_texture": (
                    texture: "icons/Load1",
                ),
            },
            on_click: [
                "NewGame()",
            ],
            on_hover: [],
            bindings: {},
        )),
    ],
    editor: (
        locked: [
            "icons/load_up",
        ],
    ),
)