(
    locked: [
        "icons/BUTTCAST",
        "icons/MMCRE1",
        "BORDER6",
        "icons/MMLOA1",
        "FOOTER",
        "icons/BUTTMENU",
        "BUTTCAMP",
        "icons/Border2.pcx",
        "BORDER5",
        "icons/MMESC1",
        "BORDER3",
        "BUTTBK1",
        "icons/Title.pcx",
        "BORDER4",
        "icons/TAP1",
        "icons/MMNEW1",
    ],
)