(
    id: "menu",
    sound: Sound(
        id: "13",
        start_sec: 16.0,
        looping: true,
    ),
    elements: [
        Image((
            id: "icons/Title.pcx",
            position: (0.0, 0.0),
            size: (640.0, 480.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/Title.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MMCRE1",
            position: (482.0, 133.0),
            size: (135.0, 45.0),
            z: 1,
            states: {
                "clicked": (
                    texture: "icons/MMCRE1",
                ),
                "hover_texture": (
                    texture: "icons/Start00c",
                    animation: Some((
                        pattern: "icons/Start%02dc",
                        frames: 7,
                        start_frame: 0,
                        fps: 16.0,
                        ping_pong: true,
                    )),
                ),
            },
            on_click: [],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/MMESC1",
            position: (482.0, 195.0),
            size: (135.0, 45.0),
            z: 2,
            states: {
                "clicked": (
                    texture: "icons/MMESC1",
                ),
                "hover_texture": (
                    texture: "icons/Start00d",
                    animation: Some((
                        pattern: "icons/Start%02dd",
                        frames: 7,
                        start_frame: 0,
                        fps: 16.0,
                        ping_pong: true,
                    )),
                ),
            },
            on_click: [
                "Quit()",
            ],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/MMLOA1",
            position: (482.0, 71.0),
            size: (135.0, 45.0),
            z: 8,
            states: {
                "clicked": (
                    texture: "icons/MMLOA1",
                ),
                "hover_texture": (
                    texture: "icons/Start00b",
                    animation: Some((
                        pattern: "icons/Start%02db",
                        frames: 7,
                        start_frame: 0,
                        fps: 16.0,
                        ping_pong: true,
                    )),
                ),
            },
            on_click: [
                "LoadScreen(\"menu_load\")",
            ],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MMNEW1",
            position: (482.0, 9.0),
            size: (135.0, 45.0),
            z: 4,
            states: {
                "clicked": (
                    texture: "icons/MMNEW1",
                ),
                "hover_texture": (
                    texture: "icons/Start00a",
                    animation: Some((
                        pattern: "icons/Start%02da",
                        frames: 7,
                        start_frame: 0,
                        fps: 16.0,
                        ping_pong: true,
                    )),
                ),
            },
            on_click: [
                "LoadScreen(\"segue\")",
            ],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
    ],
    editor: (
        locked: [
            "icons/MMCRE1",
            "icons/MMLOA1",
            "icons/MMESC1",
            "icons/Title.pcx",
            "icons/MMNEW1",
        ],
    ),
)