(
    id: "menu",
    bg_music: "13",
    elements: [
        Image((
            id: "icons/Title.pcx",
            position: (0.0, 0.0),
            size: (640.0, 480.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/Title.pcx",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/MMCRE1",
            position: (482.0, 133.0),
            size: (135.0, 45.0),
            z: 1,
            states: {
                "default": (
                    texture: "icons/MMCRE1",
                ),
            },
            on_click: [],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/MMESC1",
            position: (482.0, 195.0),
            size: (135.0, 45.0),
            z: 2,
            states: {
                "default": (
                    texture: "icons/MMESC1",
                ),
            },
            on_click: [
                "Quit()",
            ],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/MMLOA1",
            position: (482.0, 71.0),
            size: (135.0, 45.0),
            z: 3,
            states: {
                "default": (
                    texture: "icons/MMLOA1",
                ),
            },
            on_click: [
                "LoadScreen(\"menu_load\")",
            ],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/MMNEW1",
            position: (481.0, 9.0),
            size: (135.0, 45.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/MMNEW1",
                ),
            },
            on_click: [
                "LoadScreen(\"segue\")",
            ],
            on_hover: [
                "PulseSprite()",
            ],
            bindings: {},
        )),
    ],
    editor: (
        locked: [
            "icons/BUTTCAST",
            "icons/MMCRE1",
            "BORDER6",
            "icons/MMLOA1",
            "FOOTER",
            "icons/BUTTMENU",
            "BUTTCAMP",
            "icons/Border2.pcx",
            "BORDER5",
            "icons/MMESC1",
            "BORDER3",
            "BUTTBK1",
            "icons/Title.pcx",
            "BORDER4",
            "icons/TAP1",
            "icons/MMNEW1",
        ],
    ),
)
