(
    id: "npc_speak",
    elements: [
        Image((
            id: "icons/EVPAN019",
            position: (481.0, 0.0),
            size: (152.0, 353.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/EVPAN019",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/edge_top",
            position: (9.0, 304.0),
            size: (512.0, 10.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/edge_top",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/NPC001",
            position: (528.0, 24.0),
            size: (63.0, 73.0),
            z: 5,
            states: {
                "default": (
                    texture: "icons/NPC001",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "npc_name",
            position: (498.0, 100.0),
            size: (120.0, 14.0),
            z: 5,
            source: "npc_name",
            font: "smallnum",
            color: "blue",
            align: "center",
        )),
        Text((
            id: "npc_greeting",
            position: (9.0, 314.0),
            size: (468.0, 40.0),
            z: 3,
            source: "npc_greeting",
            font: "smallnum",
            color: "white",
            align: "left",
        )),
    ],
    editor: (
        locked: [
            "icons/EVPAN019",
            "npc_name",
        ],
    ),
)