(
    id: "npc_speak",
    kind: Modal,
    keys: {
        "Escape": [
            "CloseWindow()",
        ],
    },
    on_load: [
        "GreetingSound()",
    ],
    on_close: [
        "PlaySoundNamed(\"SelectingANewCharacter\")",
    ],
    elements: [
        Image((
            id: "icons/EVPAN019",
            position: (481.0, 0.0),
            size: (152.0, 353.0),
            z: 4,
            states: {
                "default": (
                    texture: "icons/EVPAN019",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/NPC001",
            position: (528.0, 24.0),
            size: (63.0, 73.0),
            z: 5,
            states: {
                "default": (
                    texture: "icons/NPC001",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Text((
            id: "npc_name",
            position: (498.0, 100.0),
            size: (120.0, 14.0),
            z: 5,
            source: "npc_name",
            font: "smallnum",
            color: "blue",
            align: "center",
        )),
        Text((
            id: "npc_greeting",
            position: (8.0, 334.0),
            size: (460.0, 18.0),
            z: 3,
            source: "npc_greeting",
            font: "smallnum",
            font_size: 14.0,
            color: "white",
            align: "center",
        )),
        Image((
            id: "icons/BUTTESC1",
            position: (527.0, 308.0),
            size: (61.0, 28.0),
            z: 7,
            states: {
                "clicked": (
                    texture: "icons/BUTTESC2",
                ),
                "default": (
                    texture: "icons/BUTTESC1",
                ),
            },
            on_click: [
                "CloseWindow()",
            ],
            on_hover: [
                "evt:Hint(\"Exit\")",
            ],
            bindings: {},
            transparent_color: "cyan",
        )),
        Image((
            id: "icons/leather",
            position: (8.0, 334.0),
            size: (460.0, 18.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/leather",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
            crop: true,
        )),
        Image((
            id: "icons/endcap",
            position: (8.0, 329.0),
            size: (460.0, 5.0),
            z: 0,
            states: {
                "default": (
                    texture: "icons/endcap",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
    ],
    editor: (
        locked: [
            "icons/EVPAN019",
            "npc_name",
            "icons/BUTTESC1",
        ],
    ),
)