(
    id: "options_main",
    kind: Modal,
    keys: {
        "Escape": ["HideScreen(\"options_main\")"],
    },
    elements: [
        Image((
            id: "icons/Options",
            position: (8.0, 8.0),
            size: (460.0, 344.0),
            z: 1,
            states: {
                "default": (
                    texture: "icons/Options",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/Quit1",
            position: (242.0, 266.0),
            size: (215.0, 39.0),
            z: 2,
            states: {
                "clicked": (
                    texture: "icons/Quit1",
                ),
                "default": (
                    texture: "",
                ),
            },
            on_click: [
                "LoadScreen(\"menu\")",
            ],
            on_hover: [],
            bindings: {},
        )),
        Image((
            id: "icons/Resume1",
            position: (18.0, 160.0),
            size: (219.0, 39.0),
            z: 3,
            states: {
                "clicked": (
                    texture: "icons/Resume1",
                ),
                "default": (
                    texture: "",
                ),
            },
            on_click: [
                "Resume()",
            ],
            on_hover: [],
            bindings: {},
        )),
    ],
)