(
    id: "playing",
    elements: [
        Image((
            id: "BUTTBK1",
            position: (496.0, 270.0),
            size: (31.0, 72.0),
            z: 0,
            states: {
                "default": (
                    texture: "BUTTBK1",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"Quests\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/COMPASS",
            position: (538.0, 10.0),
            size: (325.0, 9.0),
            z: 2,
            states: {
                "default": (
                    texture: "icons/COMPASS",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "source": "compass",
            },
            crop_w: 38.0,
            crop_h: 9.0,
        )),
        Image((
            id: "minimap",
            position: (468.0, 0.0),
            size: (512.0, 512.0),
            z: 1,
            states: {
                "default": (
                    texture: "",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "source": "minimap",
            },
            crop_w: 172.0,
            crop_h: 142.0,
        )),
        Image((
            id: "icons/MAPDIR2",
            position: (553.5, 87.5),
            size: (7.0, 7.0),
            z: 9,
            states: {
                "default": (
                    texture: "icons/MAPDIR2",
                ),
            },
            on_click: [],
            on_hover: [],
            bindings: {
                "source": "arrow",
            },
            transparent_color: "black",
        )),
        Image((
            id: "icons/BUTTBK2",
            position: (527.0, 270.0),
            size: (31.0, 71.0),
            z: 14,
            states: {
                "default": (
                    texture: "icons/BUTTBK2",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"?\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/BUTTBK3",
            position: (558.0, 270.0),
            size: (32.0, 71.0),
            z: 15,
            states: {
                "default": (
                    texture: "icons/BUTTBK3",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"Map\")",
            ],
            bindings: {},
        )),
        Image((
            id: "icons/BUTTBK4",
            position: (590.0, 270.0),
            size: (31.0, 71.0),
            z: 16,
            states: {
                "default": (
                    texture: "icons/BUTTBK4",
                ),
            },
            on_click: [],
            on_hover: [
                "evt:Hint(\"?\")",
            ],
            bindings: {},
        )),
    ],
    editor: (
        locked: [
            "minimap",
            "icons/MAPDIR2",
            "BUTTBK1",
            "icons/COMPASS",
            "icons/BUTTBK2",
            "icons/BUTTBK3",
            "icons/BUTTBK4",
        ],
    ),
)