(
    locked: [
        "icons/Border1.pcx",
        "FOOTER",
        "icons/Border2.pcx",
        "BORDER6",
        "BORDER4",
        "BORDER5",
        "BUTTCAMP",
        "BORDER3",
        "BUTTBK1",
    ],
)